.footer {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 16px;

  font-family: var(--font-primary);
  width: 100%;

  border-top: 1px solid rgba(217, 255, 245, 1);
  background-color: #f8f8f8;

  padding-top: 16px;
  padding: 16px;

  p {
    text-align: center;
    color: rgba(126, 126, 130, 1);
    font-weight: 500;

    @media (min-width: 768px) {
      display: flex;
    }
  }
}
