.app {
  display: flex;
  flex-direction: row-reverse;
}

p {
  margin: 0;
}
.main {
  font-family: var(--font-primary);
  background-color: #f8f8f8;
  width: 100%;

  &__services {
    padding-top: 28px;

    &--group {
      display: flex;

      &-title {
        font-size: 28px;
        margin-top: 0px;

        font-weight: 700;
        position: relative;
        &::before {
          content: "";
          position: absolute;
          left: -8px;
          top: 0;
          height: 40px;
          width: 4px;
          background-color: #41f6d7;
          border-radius: 0 10px 10px 0px;
        }
      }
    }

    &--desktop_group {
      display: none;
      align-items: center;
      justify-content: flex-end;
      gap: 30px;
      margin-left: auto;
      margin-right: 30px;

      &--container {
        display: flex;
        align-items: center;
        justify-content: flex-end;

        &-desktop_icon {
          background-color: #ff3e79;
          width: 40px;
          height: 40px;
          border-radius: 100%;
          display: flex;
          justify-content: center;
          align-items: center;
        }

        &-desktop_text {
          padding-right: 8px;
        }
      }

      @media (min-width: 1200px) {
        display: flex;
      }
    }

    &--slide_menu {
      display: flex;
      margin-left: 16px;
      padding-top: 24px;
      gap: 16px;

      overflow-x: auto;
      overflow-y: hidden;

      &::-webkit-scrollbar {
        display: none;
      }

      &-button {
        font-size: 16px;
        color: rgba(126, 126, 130, 1);
        padding: 8px;
        padding: 8px 16px;
        text-wrap: nowrap;
        border: none;
        background-color: #f8f8f8;

        &-active {
          background-color: #ffffff;
          color: rgba(126, 126, 130, 1);
          font-size: 16px;
          border: 2px solid rgba(184, 255, 236, 1);
          border-radius: 6px;
          padding: 6px 16px;
          text-wrap: nowrap;
        }
      }
    }

    &--block_information {
      @media (min-width: 768px) {
        position: relative;
        display: block;
      }

      &-text {
        font-size: 14px;
        padding: 16px;

        @media (min-width: 768px) {
          padding-right: 60%;
          width: 360px;
        }
      }

      &-text_tablet {
        font-size: 14px;
        padding: 16px;
        display: none;

        @media (min-width: 768px) {
          display: block;
          padding-right: 60%;
        }
      }

      &--read_more {
        display: flex;
        margin-left: 16px;
        font-weight: 500;
      }

      &-img_logo {
        width: 100%;
        height: 100%;
        padding-top: 16px;

        @media (min-width: 768px) {
          border-radius: 6px;
          position: absolute;
          right: 10px;
          top: 16px;
          width: 360px;
          height: 208px;
          padding-top: 0;
        }

        @media (min-width: 950px) {
          width: 531px;
          height: 307px;
        }
      }
    }
  }

  &__sliders {
    width: 100%;

    &--header_slider {
      margin-top: 24px;
      width: 100%;
      padding: 16px;
      /* gradient */

      background: linear-gradient(360deg, #f8f8f8 0%, #ffffff 98.61%);

      border-top: 1px solid rgba(217, 255, 245, 1);

      &-title {
        font-size: 16px;
        font-weight: 200;
        line-height: 24px;
        color: rgba(126, 126, 130, 1);
      }
    }

    &--slider {
      display: flex;
      padding-bottom: 50px;
      margin-left: 16px;
      margin-top: 16px;

      overflow-x: auto;
      overflow-y: hidden;

      @media (min-width: 768px) {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
      }

      &::-webkit-scrollbar {
        display: none;
      }

      &-wrapper {
        display: flex !important;

        &-slide {
          display: flex !important;
          align-items: center !important;
          justify-content: space-between !important;
          width: 240px;
          height: 70px;
          background-color: rgba(255, 255, 255, 1);
          border: 1px solid rgba(234, 234, 234, 1);
          border-radius: 6px;
          padding: 16px;
          box-sizing: border-box;

          &[data-slide-type="types"] {
            width: 240px;
            height: 160px;

            p {
              align-self: flex-start;
              font-size: 16px;
              font-weight: 500;
            }

            img {
              align-self: flex-end;
            }
          }

          &[data-slide-type="price"] {
            position: relative;
            display: flex;
            width: 260px;
            height: 200px;
            padding: 16px;
            left: -10px;

            .flexbox {
              display: flex;
              flex-direction: column;
              gap: 16px;
            }

            p {
              align-self: flex-start;
              font-size: 14px;
              font-weight: 400;
            }

            .grey {
              color: rgba(126, 126, 130, 1);
            }

            .medium {
              font-weight: 500;
            }

            .button-slide {
              position: absolute;
              right: 16px;
              bottom: 20px;
              align-self: flex-end;
              display: flex;
              justify-content: space-between;
              width: 115px;
              padding: 10px;
              background-color: rgba(255, 62, 121, 1);
              border-radius: 18px;
              border: #ff3e79 solid 1px;
            }

            span {
              font-size: 12px;
              color: rgba(255, 255, 255, 1);
              font-weight: 700;
            }
          }
        }

        /* Изменить цвет всех точек */
      }

      &-wrapper-slide img {
        max-width: 100%;
        max-height: 100%;
        height: auto;
        width: auto;
        object-fit: contain;
      }
    }
  }

  &__offer {
    margin-top: 44px;

    &--container {
      p {
        font-size: 14px;
        line-height: 20px;
        margin-right: 16px;
        margin-left: 16px;
      }

      &-commercial_offer {
        display: flex;
        margin-top: 16px;
        margin-bottom: 40px;
        p {
          font-size: 16px;
          line-height: 24px;
          font-weight: 500;
        }
      }
    }
  }
}

.swiper-pagination-bullet {
  width: 12px; /* Новая ширина */
  height: 12px; /* Новая высота */
  background-color: rgba(221, 221, 221, 1);
}

.swiper-pagination-bullet-active {
  opacity: 1;
  background: rgba(181, 182, 188, 1);
}

.swiper-pagination {
  position: absolute;
  text-align: center;
  transition: 300ms opacity;
  transform: translate3d(0, 0, 0);
  z-index: 10;
}

/* Для первого слайдера */
.swiper-pagination:not([data-pagination-type]) {
  bottom: -90px !important;
  left: 50% !important;
  transform: translateX(-50%) !important;
  width: auto !important;
}

/* Для второго слайдера */
.swiper-pagination[data-pagination-type="second"] {
  bottom: -190px !important; /* Другое положение */
  left: 35% !important; /* Сдвиг влево */
  transform: none !important;
  width: auto !important;
}

.swiper-pagination[data-pagination-type="three"] {
  bottom: -220px !important; /* Другое положение */
  left: 35% !important; /* Сдвиг влево */
  transform: none !important;
  width: auto !important;
}
