@font-face {
  font-family: "TTLakes";
  src: url("/TTLakesCondensed-Regular.ttf");
}

.modal {
  &--feedback {
    &--open {
      transform: translateY(0) !important;
    }
  }

  &__form {
    &__field {
      &--error {
        border-color: #ff0000 !important;
        background-color: #fff5f5;
      }
    }
  }
}

.error-message {
  color: #ff0000 !important;
  font-size: 12px !important;
  margin-top: 0px !important;
  font-family: "TTLakes" !important;
}

.modal--feedback {
  font-family: "TTLakes";
  transform: translateY(-110%);
  transition: transform 0.6s ease-in-out;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  background-color: rgb(255, 255, 255);
  position: fixed;
  z-index: 10000;
  top: 0;
  left: 0;

  @media (min-width: 767px) {
    position: fixed;
    left: auto;
    right: 0;
    width: 440px;
    height: 100vh;
    background: #ffffff;
    box-shadow: -2px 0px 4px rgba(69, 79, 126, 0.02),
      16px 0px 52px rgba(14, 24, 80, 0.2);
  }

  &__form {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 16px;
    padding-top: 24px;
    margin-left: 16px;

    input,
    textarea {
      padding: 12px;
      width: 288px;
      border-radius: 8px;
      border: 1px solid rgba(234, 234, 234, 1);

      &:focus {
        outline: none;
        box-shadow: none;
      }

      @media (min-width: 767px) {
        width: 90%;
      }
    }

    #letter {
      height: 118px;
      resize: none;
    }
  }

  h1 {
    font-style: normal;
    font-size: 24px;
    line-height: 32px;
    letter-spacing: -0.6px;
    margin-top: 104px;
    margin-left: 16px;

    @media (min-width: 767px) {
      margin-top: 10px;
    }
  }

  p {
    font-size: 14px;
    line-height: 16px;
    color: #7e7e82;
    padding: 16px;
  }

  .button-position {
    position: relative;
    align-self: flex-end;
    margin-right: 16px;
    margin-bottom: 75px;
  }

  &__line {
    position: absolute;
    left: -2px;
    top: 100px;
    width: 4px;
    height: 40px;
    border-radius: 2px;
    background-color: rgba(65, 246, 215, 1);

    @media (min-width: 767px) {
      top: 45px;
    }
  }

  &__icon {
    &--close {
      position: absolute;
      top: 30px;
      left: 26px;
      background-color: #ff3e79;
      width: 40px;
      height: 40px;
      border-radius: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      @media (min-width: 767px) {
        position: relative;
        left: -55px;
        top: 47px;
      }
    }
  }
}

.button {
  &--design {
    display: inline-flex;
    align-items: center;
    justify-content: space-between;
    width: 120px;
    padding: 10px 12px;
    background: #ff3e79;
    border-radius: 16px;
    border: none;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: rgba(255, 255, 255, 1);
      outline: 1px solid #ff3e79;

      span {
        color: #ff3e79;
      }

      img {
        filter: brightness(0) saturate(100%) invert(26%) sepia(89%)
          saturate(2084%) hue-rotate(325deg) brightness(98%) contrast(101%);
      }
    }

    span {
      color: white;
      font-size: 12px;
      font-weight: 700;
    }

    img {
      filter: brightness(0) invert(1);
    }
  }
}
